extends layout

prepend title
  | Archive of #{ page.title }

block content
  include mixins
  - var archive = _.chain(contents.articles._.directories).map(function(item) { return item.index }).compact().sortBy(function(item) { return -item.date }).groupBy(function(item) { return item.date.getFullYear() }).value()
  - var years = _.chain(archive).keys().reverse().value()
  section.archive
    h2 Archive
    each year in years
      h3.year= year
      ul
        - var posts = archive[year]
        each post in posts
          li
            a(href=post.url)
              span.archive-post-title= post.title
              mixin archive-date(post.date)
